apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.repository_name }}
  description: ${{ values.repository_description | dump }}
  tags:
    - python
    - airflow
    - etl
    - data
  annotations:
    backstage.io/techdocs-ref: dir:.
    github.com/project-slug: ${{ values.repository_owner }}/${{ values.repository_name }}
  links:
    - url: https://codespaces.new/${{ values.repository_owner }}/${{ values.repository_name }}
      title: Open Development Environment 
      icon: scaffolder
    - url: vscode://vscode.git/clone?url=https://github.com/${{ values.repository_owner }}/${{ values.repository_name }}.git
      title: Open in Local Visual Studio Code
      icon: scaffolder
spec:
  type: airflow-module
  lifecycle: experimental
  owner: ${{ values.catalog_owner | dump }}
  {%- if values.catalog_system %}
  system: ${{ values.catalog_system | dump }}
  {%- endif %}
